<div class="alert alert-light" role="alert">
  <h1> <%= @user_input %> </h1>
  <p><em> -You</em></p>
</div>
<div class="alert alert-warning" role="alert">
  <h1> <%= @response %> </h1>
    <p> <em>-Coach</em></p>
</div>
  <h2 class="text-center"> <%= link_to 'Go back to ask a question', "http://localhost:3000/ask" %> </h2>
