<div class="d-flex align-items-center justify-content-center vh-100">

<div class="container text-center">
  <div class="title">
    <h1 id="sc"> Stupid Coaching </h1>
    <p id="ay"> Ask your coach anything </p>
  </div>

  <form action="answer" data-turbo="false">
    <input type="text" name="question" style="height: 35px;" class="search">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
</div>
